/* 全体の大きさ */
body {
    width: 400px;
    height: 550px;
}

/* タブの装飾 */
.tab{
    width: 100%;
}

a {
    text-decoration:none;
}

.navi {
    background-color: cadetblue;
}

.icon-name {
    font-size: 1px;
}

.tab{
    cursor:pointer;
    transition: 0.3s ease-in-out;
}

.tab:hover{
    background: rgb(83, 137, 137);
}

.content{
    display:none;
}

.content.is-show{
    display:block;
}

/* タイマー追加ボタン */
.add_timer_button {
    border: #eee;
    background: #eee;
    border-radius: 50px;
    position: relative;
    justify-content: space-around;
    margin: 0 auto;
    width: 260px;
    padding: 10px 25px;
    color: #a18686;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.add_timer_button:hover {
    background: #d2a6a6;
    color: #FFF;
}
.add_timer_button:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #d2a6a6;
    border-right: 3px solid #d2a6a6;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.add_timer_button:hover:after {
    border-color: #FFF;
}

.add_timer_button:disabled {
    background: #afafaf;
    color: rgb(0, 0, 0);
}

/* モーダル作成ボタン */
.make_timer_btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #668ad8;
    border: dashed 1px #FFF;
}

.make_timer_btn:hover {
    border: dotted 1px #FFF;
}

/* タイマーの表記サイズ */
.timer {
    font-size: 50px;
}

.details{
    height: 70px;
}

.working{
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFF;
	text-shadow: 
		0 0 0.05em #F06292,
		0 0 0.10em #F06292,
		0 0 0.15em #F06292,
		0 0 0.30em #F06292;
	filter: saturate(80%);
}

.intervaling{
    text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFF;
	text-shadow: 
		0 0 0.05em #2962FF,
		0 0 0.10em #2962FF,
		0 0 0.15em #2962FF,
		0 0 0.30em #2962FF;
	filter: saturate(80%);
}

/* キャラクタータブ */
.index{
    width: 180px;
    height: 200px;
    border-radius:10px;
    background-color: rgb(233, 233, 233);
}

.sound-test{
    cursor:pointer;
}

.illust{
    width: 80px;
    height: auto;
}

.retention{
    color: #FFF;
    width: 60px;
    height: 30px;
    border-radius:30px;
    background-color: rgb(224, 137, 23);
    margin: 0 0 0 auto;
}